# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.env


# myTempFiles
/collection/config-bkp.json
/collection/PaymentController_bkp.js
/collection/PaymentController_2.js
/collection/PaymentController_3.js
/collection/PaymentController_4.js
/collection/PaymentController_5.js
/collection/PaymentController_final.js
/collection/PaymentController_ff.js
/collection/PaymentHandler_fff.js
/collection/PaymentHandler_bkp.js
/collection/PaymentHandler_2.js
/collection/PaymentHandler_3.js
/collection/PaymentHandler_4.js
/collection/PaymentHandler_5.js
/collection/PaymentHandler_final.js
/collection/paymnt_1.js
/collection/paymnt_2.js
/collection/SimpleLogger_bkp.js
/collection/SimpleLogger_2.js
/collection/SimpleLogger_3.js
/collection/SimpleLogger_final.js
/Aws/UploadPhoto_bkp.js
/Aws/UploadPhoto_multi.js
/schema/EventEnquiry_bkp.js
/logs/PaymentHandlerOld.log
/collection/ReceiptController_bkp.js